<%- include('./partials/_top') %>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css"
/>

<div class="container">
  <% if (message) { %>
  <h4><%= message %></h4>
  <% } %>

  <h1 class="mt-5"><%- title %></h1>
  <p class="color-adduOrange">
    Change or update the user details.
  </p>

  <table id="myTable" class="table table-hover table-bordered">
    <thead class="bg-addu">
      <tr>
        <th class="d-none">Id</th>
        <th scope="col">Full Name</th>
        <th scope="col">Duration</th>
        <th scope="col">Time of Contact</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <td class="d-none"><%= user.id %></td>
        <td><%= user.firstName %> <%= user.lastName %></td>
        <td><%= user.durationOfContact %></td>
        <td><%= new Date(user.timeOfContact._seconds) %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <% if (selectedUser) { %>
  <ul class="nav nav-tabs mt-4 pt-3" id="myTab" role="tablist">
    <li class="nav-item p">
      <a
        class="nav-link active"
        id="userDetails-tab"
        data-toggle="tab"
        href="#userDetails"
        role="tab"
        aria-controls="userDetails"
        aria-selected="true"
        >User Details</a
      >
    </li>
    <!-- <li class="nav-item">
      <a
        class="nav-link"
        id="username-tab"
        data-toggle="tab"
        href="#username"
        role="tab"
        aria-controls="username"
        aria-selected="false"
        >Username</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="password-tab"
        data-toggle="tab"
        href="#password"
        role="tab"
        aria-controls="password"
        aria-selected="false"
        >Password</a
      >
    </li> -->
  </ul>

  <!-- User Details Tab -->
  <div
    class="tab-content border-left border-right border-bottom"
    id="myTabContent"
  >
    <div
      class="tab-pane fade show active p-4"
      id="userDetails"
      role="tabpanel"
      aria-labelledby="userDetails-tab"
    >
    <!-- UPDATES DETAILS!!!!!!!!!!! -->
      <form action="/updateUserDetails" method="POST">
        <input type="text" hidden name="id" value="<%= selectedUser.id %>" />

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstName"> First Name </label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                value="<%= selectedUser.firstName %>"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastName"> Last Name </label>
              <input
                type="text"
                class="form-control"
                id="lastName" 
                name="lastName"
                value="<%= selectedUser.lastName %>"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="Duration"> Duration </label>
              <input
                type="text"
                class="form-control"
                id="duration"
                name="durationOfContact" <%# SHOULD MATCH WITH DATABASE!!!!!!!!! %> 
                value="<%= selectedUser.durationOfContact %>"
              />
            </div>
          </div>

        </div>

        <input type="submit" class="btn bg-adduOrange" value="   Save   " />
      </form>
    </div>
    <% } %>
  </div>
</div>

<script
  defer
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"
></script>

<script>
  window.addEventListener("DOMContentLoaded", function () {
    (function ($) {
      const table = $("#myTable").DataTable();

      $("#myTable tbody").on("click", "tr", function () {
        const data = table.row(this).data();
        window.location = `/dashboard?id=${data[0]}`;
      });
    })(jQuery);
  });
</script>

<%- include('./partials/_bottom') %>
