<%- include('./partials/_top_user') %>

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .tableSticky {
        position: sticky;
        left: 0px;
        background-color: #f3f3f3;
        color: #423f3f;
        font-weight: bold;
    }
</style>
    
    <div class="container mt-3">
    <a href="/">
        <a href="/">
            <img src="/open-iconic/svg/chevron-left.svg" alt="left arrow icon" style="width: auto; height: 20px;">
            Back to Home</a>

        <% if (message) { %>
        <h4>
            <%= message %>
        </h4>
        <% } %>

        <h1 class="mt-4">
            MONITORING FORM
        </h1>
        <p class="color-adduOrange">
            <b>Daily self-monitoring form for a quarantined person.</b> <b>(<i>Complete</i> button will show up once you save the page once.)</b>
            <br>
            Please fill it out everyday until the end of quarantine. 
            <br>
            <br>
            Please submit the form submitted after filling out (n) days of quarantine. 
            <br>
            The page will be refreshed after submission.
        </p>
    </div>
    
    <!-- USER DETAILS -->

    <form action="" method="POST">
        <input type="hidden" name="mId" value="<%= currentMonitoringForm?.id %>">

        <div class="container">
            <div class="bg-addu pt-2 pl-2 pr-2 pb-1">
                <h4>User Details</h4>
            </div>
            <div class="container border pt-3 pl-4 pr-4 pb-4">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name">
                            Name
                        </label>
                        <input type="text" id="name" name="name" class="form-control" value="<%= currentUser.firstName %> <%= currentUser.lastName %>" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateStarted">
                            Date Started
                        </label>
                        <input type="text" id="dateStarted" name="dateStarted" class="form-control" value="<%= currentMonitoringForm?.dateStarted %>" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="dateSymptomsStarted">
                            Date symptoms started (if applicable)
                        </label>
                        <input type="text" id="dateSymptomsStarted" name="dateSymptomsStarted" class="form-control datepicker" value="<%= currentMonitoringForm?.dateSymptomsStarted %>">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="bg-addu pt-2 pl-2 pr-2 pb-1">
                <h4>Self-Monitoring List</h4>
            </div>
    <!-- Self-Monitoring -->
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr id="rowDateHeader">
                        <th class="tableSticky">
                            Self-monitoring day
                        </th>
                        <!-- 14 days headers -->
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <th class="text-center" style="background-color: #f8f8f8;">
                                <%= index + 1 %> 
                            </th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <tr id="rowDate">
                        <td class="tableSticky">
                            Date (MM/DD)
                        </td>
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <td>
                                <input type="text" name="selfMonitoring[<%= index %>][date]" id="selfMonitoring[<%= index %>][date]" value="<%= currentMonitoringForm?.selfMonitoring[index]?.date %>" style="width: 4.25rem;" readonly>
                            </td>
                        <% } %>
                    </tr>

                    <tr id="rowDailyTemperature">
                        <td class="tableSticky">Daily Temperature*</td>
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <td>
                                <input type="number" name="selfMonitoring[<%= index %>][dailyTemperature]" id="selfMonitoring[<%= index %>][dailyTemperature]" value="<%= currentMonitoringForm?.selfMonitoring[index]?.dailyTemperature %>" style="width: 4.25rem;">
                            </td>
                        <% } %>
                    </tr>

                    <tr id="rowNoSymptoms">
                        <td class="tableSticky">NO SYMPTOMS ✔</td>
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <td class="text-center">
                                <input type="checkbox" name="selfMonitoring[<%= index %>][noSymptoms]" id="selfMonitoring[<%= index %>][noSymptoms]" <%= currentMonitoringForm?.selfMonitoring[index]?.noSymptoms ? 'checked' : '' %>>
                            </td>
                        <% } %>
                    </tr>

                    <tr>
                        <td colspan="15" class="tableSticky text-center">Pay attention to your health. If you develop any symptoms, check (✔) the box.</td>
                    </tr>

                    <tr id="rowCough">
                        <td class="tableSticky">Cough</td>
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <td class="text-center">
                                <input type="checkbox" name="selfMonitoring[<%= index %>][cough]" id="selfMonitoring[<%= index %>][cough]" <%= currentMonitoringForm?.selfMonitoring[index]?.cough ? 'checked' : '' %>>
                            </td>
                        <% } %>
                    </tr>

                    <tr id="rowCold">
                        <td class="tableSticky">Cold</td>
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <td class="text-center">
                                <input type="checkbox" name="selfMonitoring[<%= index %>][cold]" id="selfMonitoring[<%= index %>][cold]" <%= currentMonitoringForm?.selfMonitoring[index]?.cold ? 'checked' : '' %>>
                            </td>
                        <% } %>
                    </tr>

                    <tr id="rowDiarrhea">
                        <td class="tableSticky">Diarrhea</td>
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <td class="text-center">
                                <input type="checkbox" name="selfMonitoring[<%= index %>][diarrhea]" id="selfMonitoring[<%= index %>][diarrhea]" <%= currentMonitoringForm?.selfMonitoring[index]?.diarrhea ? 'checked' : '' %>>
                            </td>
                        <% } %>
                    </tr>

                    <tr id="rowSoreThroat">
                        <td class="tableSticky">Sore throat</td>
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <td class="text-center">
                                <input type="checkbox" name="selfMonitoring[<%= index %>][soreThroat]" id="selfMonitoring[<%= index %>][soreThroat]" <%= currentMonitoringForm?.selfMonitoring[index]?.soreThroat ? 'checked' : '' %>>
                            </td>
                        <% } %>
                    </tr>
                    
                    <tr id="rowHeadache">
                        <td class="tableSticky">Headache</td>
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <td class="text-center">
                                <input type="checkbox" name="selfMonitoring[<%= index %>][headache]" id="selfMonitoring[<%= index %>][headache]" <%= currentMonitoringForm?.selfMonitoring[index]?.headache ? 'checked' : '' %>>
                            </td>
                        <% } %>
                    </tr>

                    <tr id="rowFatigue">
                        <td class="tableSticky">Fatigue</td>
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <td class="text-center">
                                <input type="checkbox" name="selfMonitoring[<%= index %>][fatigue]" id="selfMonitoring[<%= index %>][fatigue]" <%= currentMonitoringForm?.selfMonitoring[index]?.fatigue ? 'checked' : '' %>>
                            </td>
                        <% } %>
                    </tr>

                    <tr id="rowDifficultyOfBreathing">
                        <td class="tableSticky">Difficulty of breathing</td>
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <td class="text-center">
                                <input type="checkbox" name="selfMonitoring[<%= index %>][difficultyOfBreathing]" id="selfMonitoring[<%= index %>][difficultyOfBreathing]" <%= currentMonitoringForm?.selfMonitoring[index]?.difficultyOfBreathing ? 'checked' : '' %>>
                            </td>
                        <% } %>
                    </tr>

                    <tr id="rowOthers">
                        <td class="tableSticky">Others: Loss of appetite, loss of taste/smell, body pain</td>
                        <% for( let index = 0; index < currentMonitoringForm?.selfMonitoring?.length; index++ ) { %>
                            <td class="text-center">
                                <input type="checkbox" name="selfMonitoring[<%= index %>][others]" id="selfMonitoring[<%= index %>][others]" <%= currentMonitoringForm?.selfMonitoring[index]?.others ? 'checked' : '' %>>
                            </td>
                        <% } %>
                    </tr>
                </tbody>
            </table>

            <button type="button" id="addDayButton">Add Day</button>
            <button type="button" id="removeDayButton">Remove Last Day</button>

            <!-- Bottom Portion -->
            <div class="container mt-0">
                <div class="row border-bottom border-left border-right p-2" style="background-color: #e6e6e6;">
                    <div class="col-sm">
                        <p class="color-adduOrange text-center"><b>* Avoid the use of fever-reducing medicines (e.g., acetaminophen/Tylenol, ibuprofen/Advil) as much as possible. Fever-reducing medicines could hide early symptoms; if these must be taken, speak with your health care provider.</b></p>
                    </div>
                </div>
                <div class="row border-bottom border-left border-right p-2" style="background-color: #f8f8f8;">
                    <div class="col-sm">
                        <p>
                            <ul>
                                <li>The person undergoing self – quarantine shall be placed alone in a well ventilated room, preferably with toilet and bathroom.</li>
                                <li>A member of their family who is in good health is assigned as a caretaker of the person undergoing quarantine.</li>
                                <li>The assigned caretaker of the quarantined person serves his/her meals at the room door.</li>
                                <li>Dishes and utensils used by the quarantined person are not used by others.</li>
                                <li>Visitors, family members, and even caretakers are not allowed in the room of the person undergoing quarantine.</li>
                                <li>The quarantined person should wear a surgical mask fitted tightly to the nose, mouth and chin should he/she have to interact with another person at least 2 meters of social or physical distance must be maintained.</li>
                                <li>Proper used of the mask must be observed. If it gets wet or dirty with secretions, it must be disposed of right away. It is recommended that used of mask be limited to a maximum of 8 hours.</li>
                            <ul>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Submit btn -->
            <input type="button" id="saveButton" style="width: 10rem;" class="btn btn-orange-addu mt-2" value="Save">
            <% if (currentMonitoringForm?.id) { %>
                <input type="button" id="completeButton" style="width: 10rem;" class="btn btn-orange-addu mt-2" value="Complete">
            <% } %>
        </div>
    </form>
    

<!-- SCRIPTS -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

  <script>
    window.addEventListener("DOMContentLoaded", function () {
      (function ($) {  
        if (!$('#dateStarted').val())
        {
            $('#dateStarted').val(dayjs().format('YYYY-MM-DD'));
        }
        const firstDay = dayjs($('#dateStarted').val(), 'YYYY-MM-DD');
            
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '-14d',
            endDate: '0d'
        });

        $('#saveButton').click(function () {
            const form = $('form');
            form.attr('action', '/monitoringForm');
            form.submit();
        })

        $('#completeButton').click(function () {
            const form = $('form');
            form.attr('action', '/completeMonitoringForm');
            form.submit();
        })

        $('#addDayButton').click(function () {
            const dayToAdd = $('#rowDateHeader').children().length;
            $('#rowDateHeader').append(`<th class="text-center" style="background-color: #f8f8f8;">${dayToAdd}</th>`)
            $('#rowDate').append(`
<td>
    <input type="text" name="selfMonitoring[${dayToAdd - 1}][date]" id="selfMonitoring[${dayToAdd - 1}][date]" value="${firstDay.add(dayToAdd - 1, 'day').format("MM/DD")}" style="width: 4.25rem;" readonly>
</td>
            `)
            $('#rowDailyTemperature').append(`
<td>
    <input type="number" name="selfMonitoring[${dayToAdd - 1}][dailyTemperature]" id="selfMonitoring[${dayToAdd - 1}][dailyTemperature]" value="" style="width: 4.25rem;">
</td>
            `)
            $('#rowNoSymptoms').append(`
<td class="text-center">
    <input type="checkbox" name="selfMonitoring${dayToAdd - 1}][noSymptoms]" id="selfMonitoring[${dayToAdd - 1}][noSymptoms]">
</td>
            `)
            $('#rowCough').append(`
<td class="text-center">
    <input type="checkbox" name="selfMonitoring[${dayToAdd - 1}][cough]" id="selfMonitoring[${dayToAdd - 1}][cough]">
</td>
            `)
            $('#rowCold').append(`
<td class="text-center">
    <input type="checkbox" name="selfMonitoring[${dayToAdd - 1}][cold]" id="selfMonitoring[${dayToAdd - 1}][cold]">
</td>
            `)
            $('#rowDiarrhea').append(`
<td class="text-center">
    <input type="checkbox" name="selfMonitoring[${dayToAdd - 1}][diarrhea]" id="selfMonitoring[${dayToAdd - 1}][diarrhea]">
</td>
            `)
            $('#rowSoreThroat').append(`
<td class="text-center">
    <input type="checkbox" name="selfMonitoring[${dayToAdd - 1}][soreThroat]" id="selfMonitoring[${dayToAdd - 1}][soreThroat]">
</td>
            `)
            $('#rowHeadache').append(`
<td class="text-center">
    <input type="checkbox" name="selfMonitoring[${dayToAdd - 1}][headache]" id="selfMonitoring[${dayToAdd - 1}][headache]">
</td>
            `)
            $('#rowFatigue').append(`
<td class="text-center">
    <input type="checkbox" name="selfMonitoring[${dayToAdd - 1}][fatigue]" id="selfMonitoring[${dayToAdd - 1}][fatigue]">
</td>
            `)
            $('#rowDifficultyOfBreathing').append(`
<td class="text-center">
    <input type="checkbox" name="selfMonitoring[${dayToAdd - 1}][difficultyOfBreathing]" id="selfMonitoring[${dayToAdd - 1}][difficultyOfBreathing]">
</td>
            `)
            $('#rowOthers').append(`
<td class="text-center">
    <input type="checkbox" name="selfMonitoring[${dayToAdd - 1}][others]" id="selfMonitoring[${dayToAdd - 1}][others]">
</td>
            `)
        })

        $('#removeDayButton').click(function() {
            if ($('#rowDateHeader').children().length > 1) {
                $('#rowDateHeader').children().last().remove();
                $('#rowDate').children().last().remove();
                $('#rowDailyTemperature').children().last().remove();
                $('#rowNoSymptoms').children().last().remove();
                $('#rowCough').children().last().remove();
                $('#rowCold').children().last().remove();
                $('#rowDiarrhea').children().last().remove();
                $('#rowSoreThroat').children().last().remove();
                $('#rowHeadache').children().last().remove();
                $('#rowFatigue').children().last().remove();
                $('#rowDifficultyOfBreathing').children().last().remove();
                $('#rowOthers').children().last().remove();
            }
        })
    })(jQuery);
    });
  </script>

  <%- include('./partials/_bottom') %>