<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-addu">
        <span>BlueDu</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <% if (isAdmin) { %>
                    <li class="nav-item mx-5">
                        <a class="nav-link" href="#">
                            ADMIN MODE
                        </a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link <%= pageName === '' && 'active' %>" href="/">
                            <!-- <img src="/open-iconic/svg/info.svg" alt="person icon" style="filter: invert(58%) sepia(41%) saturate(3790%) hue-rotate(2deg) brightness(99%) contrast(102%); width: auto; height: 13px; margin-bottom: 4px;"> -->
                            Index
                        </a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link <%= pageName === 'dashboard' && 'active' %>" href="/dashboard">
                            <!-- <img src="/open-iconic/svg/pin.svg" alt="person icon" style="filter: invert(58%) sepia(41%) saturate(3790%) hue-rotate(2deg) brightness(99%) contrast(102%); width: auto; height: 12px; margin-bottom: 3px;"> -->
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link <%= pageName === 'archived' && 'active' %>" href="/archived">
                            <!-- <img src="/open-iconic/svg/folder.svg" alt="person icon" style="filter: invert(58%) sepia(41%) saturate(3790%) hue-rotate(2deg) brightness(99%) contrast(102%); width: auto; height: 12px; margin-bottom: 4px;"> -->
                            Archive
                        </a>
                    </li>
                    <% } else if (currentUser) { %>
                        <!-- <li class="nav-item mx-5">
                    <a 
                        class="nav-link <%= pageName === '' && 'active' %>" href="/">
                        <img src="/open-iconic/svg/info.svg" alt="person icon" style="filter: invert(58%) sepia(41%) saturate(3790%) hue-rotate(2deg) brightness(99%) contrast(102%); width: auto; height: 13px; margin-bottom: 4px;">
                        Index
                    </a>
                </li> -->
                        <!-- <li class="nav-item mx-5">
                    <a 
                        class="nav-link <%= pageName === 'profile' && 'active' %>" href="/profile">
                        <img src="/open-iconic/svg/pin.svg" alt="person icon" style="filter: invert(58%) sepia(41%) saturate(3790%) hue-rotate(2deg) brightness(99%) contrast(102%); width: auto; height: 12px; margin-bottom: 3px;">
                        Profile
                    </a>
                </li> -->
                        <!-- If not logged in! -->
                        <% } else { %>
                            <li class="nav-item mx-5">
                                <a class="nav-link <%= pageName === '' && 'active' %>" href="/">
                                    <img src="/open-iconic/svg/info.svg" alt="person icon"
                                        style="filter: invert(58%) sepia(41%) saturate(3790%) hue-rotate(2deg) brightness(99%) contrast(102%); width: auto; height: 13px; margin-bottom: 4px;">
                                    Index
                                </a>
                            </li>
                            <% } %>
            </ul>
            <!-- LOGIN!!!! -->
            <% if (!currentUser) { %>
                <!-- <button type="button" class="btn btn-outline-light my-2 my-sm-0" style="width: 120px;" data-toggle="modal"
                data-target="#loginModal">
                Login
            </button> -->
                <a href="/login" class="btn btn-outline-light my-2 my-sm-0" style="width: 120px;">SIGN IN</a>
                <% } else { %>
                    <span class="color-adduOrange">Hi,</span>
                    <ul class="navbar-nav dropdown" style="padding-right: 2rem;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="color-adduOrange">
                                    <%= currentUser.firstName %>
                                        <%= currentUser.lastName %>
                                </span> <!-- concat name!! :) -->
                                <img src="/open-iconic/svg/person.svg" alt="person icon"
                                    style="filter: invert(1); width: auto; height: 11px; margin-bottom: 3px;">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <% if (isAdmin) { %>
                                    <a class="dropdown-item" href="/usersettings">User Settings</a>
                                    <% } else { %>
                                        <a class="dropdown-item" href="/profile">Profile</a>
                                        <% } %>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/logout" onclick="return confirmLogout()">
                                                Logout
                                                <img src="/open-iconic/svg/account-logout.svg" alt="account logout icon"
                                                    style="width: auto; height: 11px; margin-bottom: 2px;">
                                            </a>
                            </div>
                        </li>
                    </ul>

                    <script type="text/javascript">
                        function confirmLogout() {
                            if (confirm("Are you sure you want to log out?")) {
                                return true;
                            }
                            else {
                                return false;
                            }
                        }
                    </script>
                    <% } %>
        </div>
    </nav>

    <% if (!currentUser) { %>
        <!-- Login Modal -->
        <!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="eloginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-addu">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="loginAlert" class="alert alert-danger d-none" role="alert">
                        This is a danger alert—check it out!
                    </div>

                    <form id="loginForm">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username"
                                aria-describedby="usernameHelp" placeholder="Enter username">
                            <small id="usernameHelp" class="form-text text-muted">We'll never share your username with
                                anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Password">
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <input type="submit" class="btn btn-primary bg-addu" style="width: 125px;" value="Login">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div style="text-align: center;">
                        <small><a href="/dashboard" class="link" style="color: #08228d; margin: auto;">Forgot
                                password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

        <!-- <script type="text/javascript">
        window.addEventListener("DOMContentLoaded", function () {
            (function ($) {
                $("#loginForm").on("submit", async function (event) {
                    event.preventDefault();

                    const username = $('#username').val();
                    const password = $('#password').val();

                    const response = await fetch('/api/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            username,
                            password
                        })
                    });
                    const data = await response.json();
                    
                    if (data.success) {
                        location.href = '/';
                    }
                    else {
                        $('#loginAlert').removeClass('d-none').text(data.message);
                    }
                });
            })(jQuery);
        });
      </script> -->
        <% } %>